# ----------------------------------------
# Python bytecode & build artifacts
# ----------------------------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
wheels/

# ----------------------------------------
# Virtual environments & IDE configs
# ----------------------------------------
.venv/
env/
venv/
.vscode/
.idea/

# ----------------------------------------
# Local data folders (do not track)
# ----------------------------------------
data/corpus/*
data/corpus_test/*
data/indexes/
data/indexes/chroma/
raw_data/

# ----------------------------------------
# Application entry points (local only)
# ----------------------------------------
main.py

# ----------------------------------------
# Jupyter Notebook checkpoints & notebooks
# ----------------------------------------
notebook/
*.ipynb_checkpoints/

# ----------------------------------------
# Environment & config files
# ----------------------------------------
.env
uv.lock
